@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=East+Sea+Dokdo&family=Nunito+Sans:wght@300&family=Rubik+Spray+Paint&family=Titillium+Web:ital,wght@0,300;1,300&display=swap');


body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Dosis', sans-serif;
}

.base{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
 

.card{
  
    
    background-color: #2b2e2e;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 10px;
    border: 5px #9df2ea solid;
    text-align: left;
    color: white;
    box-sizing: border-box;
}



h2{
   
    text-align: center;
    color: white;
    text-shadow: -3px 1px 1px rgba(93, 235, 235, 0.301);
    font-size: 80px;
    margin: 0;
}

span {
    color: white;
    
}

.lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.right {
    text-align: right;
    list-style-type: none;
    padding-right: 40px;
 
}
.left {
    text-align: left;
    list-style-type: none;
}

.image img{
    max-width:10vw;
    opacity: 0.5;
}

.image{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}



.lista{
    list-style-type: none;
}

@media (max-width: 500px ) {
    h2{
        font-size: 50px;
    }
    .image{
        grid-row: 2;
        grid-column: 1 / 3;
    }

    .image img{
        max-width:30vw;
        opacity: 0.5;
    }
    .card{
        
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: baseline;
    }
    .right{
        align-items: flex-start;
        justify-content: flex-start;
    }
    
}

/* ABOUT */

.about{
    height: 100vh;
    width: 100vw;
    background-color: rgb(240, 243, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #51d8d17a;
    background-attachment: fixed;
    background-size: cover;
   

}

.center{
    width: 50%;
    border: 2px solid;
    padding: 20px 20px 20px 20px;
}

h1{
    margin:0;
}

.download{
    width: 10vw;
    height: 5vh;
   
    background-color: rgba(7, 44, 41, 0.267);
    color: #ffffff;
    cursor: pointer;
}

.download:hover {
    color: rgb(7, 44, 41);
    background-color: #ffffff;
}

@media (max-width: 500px ) {
    .download{
        width: 50%;
    }
    
}

/* PROJECTS */

.works{
    box-sizing: border-box;
    height: 100vh;
  
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 0px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23ECEAEE' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
    
}

.project{
    width: 30vw;
    height: 40vh;
   
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    border: 3px solid black; 
    box-sizing: border-box;
    position: relative;
    transition: all .5s ease;
    background-color: white;
    cursor: pointer;
}

.project:hover {
    box-shadow: -10px 10px black;
    transform: translateX(10px);
    transition: all .5s ease;
}

@media (max-width: 500px ) {
    .works{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-gap: 5px;
       
        padding-left: 10px;
        padding-right: 10px;
    }
    .project{
        width: 47vw;
        height: 30vh;
        
    }
    
}



.photos{
    max-height: 40vh;
    max-width: 40vw;
    object-fit: cover;
    overflow: hidden;
    
}

.photos img {
    width: 20vw;
    z-index: -1;
}

.button{
    width: 20px;
    height: 20px;
}

.bar{
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bottom{
    border-radius: 20px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link { text-decoration: none;
}
a:visited {
text-decoration: none;
}

@media (max-width: 500px ) {
    .photos img {
        width: 60vw;
        transform: translate(-40px);
        z-index: -1;
    }
    .bottom{
        border-radius: 0px;
        height: 20px;
        background-color: #554c4c00;
    }   
}


/* CONTACT */

.contact{
    height: 100vh;
    
    width: 100vw;
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    background-color: #1d971d6c;
    transition: all 1s ease-in-out;
}

.contactIndividual {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contactIndividual  img {
    max-width: 10vw;
}

.linkedP {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.mailP{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.trailP{ 
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.contact p{
    color: rgb(255, 255, 255);
}

@media (max-width: 500px ) {
    .linkedP {
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }
    
    .mailP{
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }
    
}